body {
  font-size: 16px;
  color: #fff;
  background-color: white; /*#61122f;*/
  font-family: 'Catamaran', sans-serif;
}

/** HEADER **/

/*header {
  border: 5px solid black;
}*/
header .container {
  padding: 0;
  /*margin: 0 0 0 0;*/
  /*border: 1px solid black;*/
}

#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border-bottom: 2px solid black;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  padding: 0;
  /*margin: 0 0 0 0;*/
}

.navbar-brand h1 { /* Brand */
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  margin-right: 10px;
  margin-left: 7px;
  margin-top: 0;
  margin-bottom: 0;*/
  line-height: .75;
}

@media (max-width: 767px) {
  #collapsable-nav {
    background-color: #006666;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
  }
}

#collapsable-nav hr {
  background-color: black; 
  border: 0;
  height: 2px;
  margin-top: 40px;
  margin-left: 0.5%;
  width: 99%;
  position: absolute;
  top: 0;
  left: 0;
}

#nav-list a {
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  padding-top: 10px;
}

.navbar-header {
  margin: 5px 0 10px 0;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
  /*margin: 0 0 0 0;*/
}
.navbar-header button.navbar-toggle {
}

.navbar-collapse #collapsable-nav {
  /*background-color: yellow;*/
  /*position: relative;*/
  /*border: 1px solid black;*/
  margin: 0 0 0 0;
}

/** END HEADER **/

/** MAIN **/
#title {
  padding-bottom: 20px;
  font-size: 1.5em;
  font-weight: bold;
  color:black;
}

#chicken-title {
  padding-top: 10px;
  font-size: 1.2em;
  font-weight: bold;
}

#chicken-text {
}

.container .row {
  background-color: #105B95;
  color: white;
  width: 94%;
  position: absolute;
  left: 0;
  margin 0 0 0 0;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 30px;
}

/** END MAIN **/